.head_bbs {
	font-family: "微软雅黑";
	color: #525252;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.head_timu {
	font-family: "幼圆";
	font-size: 24px;
	color: #0AA9ED;
	font-weight: bold;
}
.head_her {
	font-family: "微软雅黑";
}
body{ font-size:16px; font-family: Century Gothic, \5FAE\8F6F\96C5\9ED1,\5E7C\5706, Arial, Verdana; color: #323232; }
body, ol, ul, li, dl, dt, dd {
    font-family: "lucida Grande",Verdana;
    font-size: 12px;
	background: none repeat scroll 0px 0px rgb(239, 239, 239);
	padding: 0px;
	margin: 0px;
	outline: medium none;
}
#title {
	text-align: center;
}
#head_center {
	text-align: center;
}

.footer {
	text-align: center;
	background-color: #000;
	color: #000;
}
.footer #cr {
	color: #CCC;
}
#body_center .footer #ft_title {
	font-size: 14px;
	color: #FF0;
	text-align: left;
	padding-left: 200px;
}
.dy-logo {
	font-size: 35px;
	float: left;
	margin-left: -15px;
	font-family: Century Gothic,Georgia;
	font-weight: normal;
}
.logo_head .header-wrap.wp.cf {
	
}

.logo_head {
	line-height: 54px;
	color: rgb(255, 255, 255);
	width: 100%;
	line-height: 54px;
	color: rgb(255, 255, 255);
	position: fixed !important;
	top: 0px;
	left: 0px;
	z-index: 5;
	border-bottom: 1px solid silver;
}

h3 {
	padding: 0px;
	margin: 0px;
	outline: medium none;
}
