    <aside id="sidebar_left" class="nano nano-primary affix">
        <link rel="stylesheet" type="text/css" href="__Public__/fonts/glyphicons-pro/glyphicons-pro.css">

        <!-- Start: Sidebar Left Content -->
        <div class="sidebar-left-content nano-content">

            <!-- Start: Sidebar Header -->
            <header class="sidebar-header">

                <!-- Sidebar Widget - Menu (用户菜单) -->
                <div class="sidebar-widget menu-widget">
                    <div class="row text-center mbn">
                        <div class="col-xs-4">
                            <a href="dashboard.html" class="text-primary" data-toggle="tooltip" data-placement="top" title="主页">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="pages_messages.html" class="text-info" data-toggle="tooltip" data-placement="top" title="消息">
                                <span class="glyphicon glyphicon-inbox"></span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="pages_profile.html" class="text-alert" data-toggle="tooltip" data-placement="top" title="任务">
                                <span class="glyphicon glyphicon-bell"></span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="pages_timeline.html" class="text-system" data-toggle="tooltip" data-placement="top" title="Activity">
                                <span class="fa fa-desktop"></span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="pages_profile.html" class="text-danger" data-toggle="tooltip" data-placement="top" title="设置">
                                <span class="fa fa-gears"></span>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="pages_gallery.html" class="text-warning" data-toggle="tooltip" data-placement="top" title="动作">
                                <span class="fa fa-flask"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget - Author (hidden)  -->
                <div class="sidebar-widget author-widget">
                    <div class="media">
                        <a class="media-left" href="ecommerce_dashboard.html#">
                            <img src="__Public__/img/avatars/3.jpg" class="img-responsive">
                        </a>
                        <div class="media-body">
                            <div class="media-links">
                                <a href="ecommerce_dashboard.html#" class="sidebar-menu-toggle">用户菜单 -</a> <a href="{:U('Public/logout')}">退出</a>
                            </div>
                            <div class="media-author">管理员</div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Widget - Search (侧边搜索) -->
                <div class="sidebar-widget search-widget hidden">
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        <input type="text" id="sidebar-search" class="form-control" placeholder="Search...">
                    </div>
                </div>

            </header>
            <!-- End: Sidebar Header -->

            <!-- Start: Sidebar Menu -->
            <ul class="nav sidebar-menu">
                <foreach name="sidebar_menu" item="vo">
                    <!-- 快捷操作级 -->
                    <li class="sidebar-label pt20">{$vo.title}</li>
                    <foreach name="vo['sub_menu']" item="li">
                        <empty name="li['sub_menu']">
                            <li class="{$li.class}">
                                <a href="{$li.url}">
                                    <span class="{$li.icon}"></span>
                                    <span class="sidebar-title">{$li.title}</span>
                                    <notempty name="li['label']">
                                        <span class="sidebar-title-tray">
                                            <span class="label label-xs bg-primary">{$li.label}</span>
                                        </span>
                                    </notempty>
                                </a>
                            </li>
                            <else/>
                            <li>
                                <a class="accordion-toggle {$li.class}" href="#">
                                    <span class="{$li.icon}"></span>
                                    <span class="sidebar-title">{$li.title}</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="nav sub-nav">
                                <foreach name="li['sub_menu']" item="ol">
                                    <li class="{$ol.class}">
                                        <a href="{$ol.url}">
                                            <span class="{$ol.icon}"></span>{$ol.title}
                                            <notempty name="ol['label']"><span class="label label-xs bg-primary">{$ol.label}</span></notempty>
                                        </a>
                                    </li>
                                </foreach>
                                </ul>
                            </li>
                        </empty>
                    </foreach>
                </foreach>

                <script type="text/javascript">
                    (function(){
                        //导航选中
                        var url = location.pathname, navg = $('.sidebar-menu li');
                        url = url.toLowerCase();
                        console.log(navg);
                        var url_arr = url.split('/');
                        console.log(url_arr);
                        //先给模块添加class
                        if(url_arr[1] == 'admin' && url_arr[2] == 'index'){
                            navg.eq(1).addClass('active');
                        }else if(url_arr[1] == 'admin' && url_arr[2] == 'device'){
                            navg.eq(4).find('.accordion-toggle').addClass('menu-open');
                            if(url_arr[3] == 'index.html'){
                                navg.eq(5).addClass('active');
                            }else if(url_arr[3] == 'add.html'){
                                navg.eq(6).addClass('active');
                            }else if(url_arr[3] == 'category'){
                                navg.eq(7).addClass('active');
                            }
                        }else if(url_arr[1] == 'admin' && url_arr[2] == 'blog'){
                            navg.eq(8).find('.accordion-toggle').addClass('menu-open');
                            if(url_arr[3] == 'index.html'){
                                navg.eq(9).addClass('active');
                            }else if(url_arr[3] == 'add.html'){
                                navg.eq(10).addClass('active');
                            }else if(url_arr[3] == 'category.html'){
                                navg.eq(11).addClass('active');
                            }
                        }else if(url_arr[1] == 'admin' && url_arr[2] == 'personal'){
                            navg.eq(12).find('.accordion-toggle').addClass('menu-open');
                            if(url_arr[3] == 'index.html'){
                                navg.eq(13).addClass('active');
                            }else if(url_arr[3] == 'key.html'){
                                navg.eq(17).addClass('active');
                            }
                        }else if(url_arr[1] == 'admin' && url_arr[2] == 'notice'){
                            navg.eq(14).find('.accordion-toggle').addClass('menu-open');
                            if(url_arr[3] == 'index.html'){
                                navg.eq(15).addClass('active');
                            }else if(url_arr[3] == 'global.html'){
                                navg.eq(16).addClass('active');
                            }
                        }
//                        if(!url.indexOf('/document')){
//                            navg.eq(4).addClass('current');
//                        }
                    })()
                </script>

                <notempty name="ol['label']">
                <!-- 常用设备 -->
                <li class="sidebar-label pt20">常用设备</li>
                <foreach name="device_list" item="li">
                    <li class="sidebar-proj">
                        <a href="{$li.url}">
                            <span class="{$li.icon}"></span>
                            <span class="sidebar-title">{$li.title}</span>
                        </a>
                    </li>
                </foreach>
                </notempty>

                <!-- sidebar progress bars -->
                <li class="sidebar-label pt25 pb10">空间使用率</li>
                <li class="sidebar-stat">
                    <a href="ecommerce_dashboard.html#projectOne" class="fs11">
                        <span class="fa fa-inbox text-info"></span>
                        <span class="sidebar-title text-muted">存储空间</span>
                        <span class="pull-right mr20 text-muted">35%</span>
                        <div class="progress progress-bar-xs mh20 mb10">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                <span class="sr-only">35% Complete</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="sidebar-stat">
                    <a href="ecommerce_dashboard.html#projectOne" class="fs11">
                        <span class="fa fa-dropbox text-warning"></span>
                        <span class="sidebar-title text-muted">设备数量</span>
                        <span class="pull-right mr20 text-muted">58%</span>
                        <div class="progress progress-bar-xs mh20">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 58%">
                                <span class="sr-only">58% Complete</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- End: Sidebar Menu -->

            <!-- Start: Sidebar Collapse Button (侧边栏隐藏按钮)-->
            <div class="sidebar-toggle-mini">
                <a href="ecommerce_dashboard.html#">
                    <span class="fa fa-sign-out"></span>
                </a>
            </div>
            <!-- End: Sidebar Collapse Button -->

        </div>
        <!-- End: Sidebar Left Content -->
    </aside>