<extend name="base/admin" />

<block name="content">
    <!-- Start: Content-Wrapper -->
    <section id="content_wrapper">

        <!-- Start: Topbar-Dropdown -->
        <div id="topbar-dropmenu">
            <div class="topbar-menu row">
                <div class="col-xs-4 col-sm-2">
                    <a href="ecommerce_dashboard.html#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-inbox"></span>
                        <p class="metro-title">Messages</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="ecommerce_dashboard.html#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-user"></span>
                        <p class="metro-title">Users</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="ecommerce_dashboard.html#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-headphones"></span>
                        <p class="metro-title">Support</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="ecommerce_dashboard.html#" class="metro-tile">
                        <span class="metro-icon fa fa-gears"></span>
                        <p class="metro-title">Settings</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="ecommerce_dashboard.html#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-facetime-video"></span>
                        <p class="metro-title">Videos</p>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="ecommerce_dashboard.html#" class="metro-tile">
                        <span class="metro-icon glyphicon glyphicon-picture"></span>
                        <p class="metro-title">Pictures</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- End: Topbar-Dropdown -->

        <!-- Start: Topbar -->
        <header id="topbar" class="ph10">
            <div class="topbar-left">
                <ul class="nav nav-list nav-list-topbar pull-left">
                    <li class="active">
                        <a href="ecommerce_dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="ecommerce_products.html">Products</a>
                    </li>
                    <li>
                        <a href="ecommerce_orders.html">Orders</a>
                    </li>
                    <li>
                        <a href="ecommerce_customers.html">Customers</a>
                    </li>
                    <li>
                        <a href="ecommerce_settings.html">Settings</a>
                    </li>
                </ul>
            </div>
            <div class="topbar-right hidden-xs hidden-sm">
                <a href="ecommerce_orders.html" class="btn btn-default btn-sm light fw600 ml10">
                    <span class="fa fa-plus pr5"></span> New Order</a>
                <a href="ecommerce_products.html" class="btn btn-default btn-sm light fw600 ml10">
                    <span class="fa fa-plus pr5"></span> Add Product</a>
                <a href="ecommerce_customers.html" class="btn btn-default btn-sm light fw600 ml10">
                    <span class="fa fa-user pr5"></span> Add Customer</a>
            </div>
        </header>
        <!-- End: Topbar -->

        <!-- Begin: Content -->
        <section id="content" class="table-layout animated fadeIn">

            <!-- begin: .tray-center -->
            <div class="tray tray-center">

                <!-- dashboard tiles -->
                <div class="row">
                    <div class="col-sm-4 col-xl-3">
                        <div class="panel panel-tile text-center br-a br-grey">
                            <div class="panel-body">
                                <h1 class="fs30 mt5 mbn">1,426</h1>
                                <h6 class="text-system">NEW ORDERS</h6>
                            </div>
                            <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5"></i> 3% INCREASE
                    <b>1W AGO</b>
                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-3">
                        <div class="panel panel-tile text-center br-a br-grey">
                            <div class="panel-body">
                                <h1 class="fs30 mt5 mbn">63,262</h1>
                                <h6 class="text-success">TOTAL SALES GROSS</h6>
                            </div>
                            <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5"></i> 2.7% INCREASE
                    <b>1W AGO</b>
                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-3">
                        <div class="panel panel-tile text-center br-a br-grey">
                            <div class="panel-body">
                                <h1 class="fs30 mt5 mbn">248</h1>
                                <h6 class="text-warning">PENDING SHIPMENTS</h6>
                            </div>
                            <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-up pr5 text-success"></i> 1% INCREASE
                    <b>1W AGO</b>
                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xl-3 visible-xl">
                        <div class="panel panel-tile text-center br-a br-grey">
                            <div class="panel-body">
                                <h1 class="fs30 mt5 mbn">6,718</h1>
                                <h6 class="text-danger">UNIQUE VISITS</h6>
                            </div>
                            <div class="panel-footer br-t p12">
                  <span class="fs11">
                    <i class="fa fa-arrow-down pr5 text-danger"></i> 6% DECREASE
                    <b>1W AGO</b>
                  </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- dashboard metric chart -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title"> Revenue</span>
                    </div>
                    <div class="panel-body pn">
                        <div id="ecommerce_chart1" style="height: 300px;"></div>
                    </div>
                </div>

                <!-- recent activity table -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title hidden-xs"> Recent Activity</span>
                        <ul class="nav panel-tabs panel-tabs-merge">
                            <li class="active">
                                <a href="ecommerce_dashboard.html#tab1_1" data-toggle="tab"> Top Sellers</a>
                            </li>
                            <li>
                                <a href="ecommerce_dashboard.html#tab1_2" data-toggle="tab"> Most Viewed</a>
                            </li>
                            <li>
                                <a href="ecommerce_dashboard.html#tab1_3" class="hidden-xs" data-toggle="tab"> New Customers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                                <thead>
                                <tr class="bg-light">
                                    <th class="">Image</th>
                                    <th class="">Product Title</th>
                                    <th class="">SKU</th>
                                    <th class="">Price</th>
                                    <th class="">Stock</th>
                                    <th class="text-right">Status</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="w100">
                                        <img class="img-responsive mw20 ib mr10" title="user" src="__Public__/img/stock/products/thumb_1.jpg">
                                    </td>
                                    <td class="">Apple Ipod 4G - Silver</td>
                                    <td class="">#21362</td>
                                    <td class="">$215</td>
                                    <td class="">1,400</td>
                                    <td class="text-right">
                                        <div class="btn-group text-right">
                                            <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                                <span class="caret ml5"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Delete</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Archive</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Complete</a>
                                                </li>
                                                <li class="active">
                                                    <a href="ecommerce_dashboard.html#">Pending</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Canceled</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w100">
                                        <img class="img-responsive mw20 ib mr10" title="user" src="__Public__/img/stock/products/thumb_2.jpg">
                                    </td>
                                    <td class="">Apple Smart Watch - 1G</td>
                                    <td class="">#15262</td>
                                    <td class="">$455</td>
                                    <td class="">2,100</td>
                                    <td class="text-right">
                                        <div class="btn-group text-right">
                                            <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                                <span class="caret ml5"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Delete</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Archive</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Complete</a>
                                                </li>
                                                <li class="active">
                                                    <a href="ecommerce_dashboard.html#">Pending</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Canceled</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w100">
                                        <img class="img-responsive mw20 ib mr10" title="user" src="__Public__/img/stock/products/thumb_6.jpg">
                                    </td>
                                    <td class="">Apple Macbook 4th Gen - Silver</td>
                                    <td class="">#66362</td>
                                    <td class="">$1699</td>
                                    <td class="">6,100</td>
                                    <td class="text-right">
                                        <div class="btn-group text-right">
                                            <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                                <span class="caret ml5"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Delete</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Archive</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Complete</a>
                                                </li>
                                                <li class="active">
                                                    <a href="ecommerce_dashboard.html#">Pending</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Canceled</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w100">
                                        <img class="img-responsive mw20 ib mr10" title="user" src="__Public__/img/stock/products/thumb_7.jpg">
                                    </td>
                                    <td class="">Apple Iphone 16GB - Silver</td>
                                    <td class="">#51362</td>
                                    <td class="">$1299</td>
                                    <td class="">5,200</td>
                                    <td class="text-right">
                                        <div class="btn-group text-right">
                                            <button type="button" class="btn btn-success br2 btn-xs fs12 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Active
                                                <span class="caret ml5"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Delete</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Archive</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Complete</a>
                                                </li>
                                                <li class="active">
                                                    <a href="ecommerce_dashboard.html#">Pending</a>
                                                </li>
                                                <li>
                                                    <a href="ecommerce_dashboard.html#">Canceled</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- info traffic panels -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Top Geographic Sources</span>
                            </div>
                            <div class="panel-body pn">
                                <table class="table mbn tc-med-1 tc-bold-last">
                                    <thead>
                                    <tr class="hidden">
                                        <th>#</th>
                                        <th>First Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span class="flag-xs flag-us mr5 va-b"></span>United States</td>
                                        <td>28%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="flag-xs flag-de mr5 va-b"></span>Germany</td>
                                        <td>25%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="flag-xs flag-fr mr5 va-b"></span>France</td>
                                        <td>21%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="flag-xs flag-tr mr5 va-b"></span>Spain</td>
                                        <td>18%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="flag-xs flag-es mr5 va-b"></span>Turkey</td>
                                        <td>10%</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Search List -->
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">Top Referals</span>
                            </div>
                            <div class="panel-body pn">
                                <table class="table mbn tc-med-1 tc-bold-last">
                                    <thead>
                                    <tr class="hidden">
                                        <th>#</th>
                                        <th>First Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span class="favicons google va-t mr10"></span>http://madeupurl.com/pictures/doors</td>
                                        <td>28%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="favicons google va-t mr10"></span>http://secondulr.com/article/14</td>
                                        <td>25%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="favicons yahoo va-t mr10"></span>http://urlthird.com/infogram/ten</td>
                                        <td>21%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="favicons google va-t mr10"></span>http://fourthlink.com/boats/glass</td>
                                        <td>18%</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="favicons bing va-t mr10"></span>http://lastlink.com/thebest/ever</td>
                                        <td>10%</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end: .tray-center -->

            <!-- begin: .tray-right -->
            <aside class="tray tray-right tray290 pn">

                <!-- store activity timeline -->
                <ol class="timeline-list pl5 mt5">
                    <li class="timeline-item">
                        <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Michael</b> Added a new item to his store:
                            <a href="ecommerce_dashboard.html#">Ipod</a>
                        </div>
                        <div class="timeline-date">1:25am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Sara</b> Added a new item to his store:
                            <a href="ecommerce_dashboard.html#">Notebook</a>
                        </div>
                        <div class="timeline-date">3:05am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-success">
                            <span class="fa fa-usd"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Admin</b> created a new invoice for:
                            <a href="ecommerce_dashboard.html#">Software</a>
                        </div>
                        <div class="timeline-date">4:15am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-warning">
                            <span class="fa fa-pencil"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Laura</b> edited her work experience</div>
                        <div class="timeline-date">5:25am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-success">
                            <span class="fa fa-usd"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Admin</b> created a new invoice for:
                            <a href="ecommerce_dashboard.html#">Apple Inc.</a>
                        </div>
                        <div class="timeline-date">7:45am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Michael</b> Added a new item to his store:
                            <a href="ecommerce_dashboard.html#">Ipod</a>
                        </div>
                        <div class="timeline-date">8:25am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Sara</b> Added a new item to his store:
                            <a href="ecommerce_dashboard.html#">Watch</a>
                        </div>
                        <div class="timeline-date">9:35am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-system">
                            <span class="fa fa-fire"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Admin</b> created a new invoice for:
                            <a href="ecommerce_dashboard.html#">Software</a>
                        </div>
                        <div class="timeline-date">4:15am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-warning">
                            <span class="fa fa-pencil"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Laura</b> edited her work experience</div>
                        <div class="timeline-date">5:25am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-success">
                            <span class="fa fa-usd"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Admin</b> created a new invoice for:
                            <a href="ecommerce_dashboard.html#">Software</a>
                        </div>
                        <div class="timeline-date">4:15am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-warning">
                            <span class="fa fa-pencil"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Laura</b> edited her work experience</div>
                        <div class="timeline-date">5:25am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-success">
                            <span class="fa fa-usd"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Admin</b> created a new invoice for:
                            <a href="ecommerce_dashboard.html#">Apple Inc.</a>
                        </div>
                        <div class="timeline-date">7:45am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Michael</b> Added a new item to his store:
                            <a href="ecommerce_dashboard.html#">Ipod</a>
                        </div>
                        <div class="timeline-date">8:25am</div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-icon bg-dark light">
                            <span class="fa fa-tags"></span>
                        </div>
                        <div class="timeline-desc">
                            <b>Sara</b> Added a new item to his store:
                            <a href="ecommerce_dashboard.html#">Watch</a>
                        </div>
                        <div class="timeline-date">9:35am</div>
                    </li>
                </ol>

            </aside>
            <!-- end: .tray-right -->

        </section>
        <!-- End: Content -->
    </section>
</block>